

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
  <!-- <input type="radio" name="colors" (click)="px='2'">Cyan -->
</div>
<p [appHighlight]="color">Highlight me!</p>


{{selectex.selected | json}}
<app-selectex 
[data]="selectData"
(onSelect)="onSelect($event)" 
#selectex></app-selectex>

<!-- {{selected.value}} -->
<!-- <select 
  appSelectex 
  [data]="selectData" 
  (onSelect)="onSelect($event)" 
  [(ngModel)]="selected.value">
</select> -->