/* You can add global styles to this file, and also import other style files */
.c-select-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.c-select-menu > li {
    list-style: none;
    width: 202px;
    height: 28px;
    border: 1px solid #869548;
}

.c-select-menu > li:hover {
    background-color: aquamarine;
}

.c-select-text {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    background: #f1f1f1;
}